@model FKNI.Application.DTOs.ProductosDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromedioValoracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.PromedioValoracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.IdCategoriaNavigation.NombreCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Estado)
            </td>
            <h4>Categoria</h4>
            <hr />
            <dl class="row">
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdCategoriaNavigation.NombreCategoria)
                </dd>
            </dl>
            <div>
                <ul>
                    @foreach (var c in Model.IdImagen)
                    {
                        <img class="card-img-top"
                             style="max-width:460px;"
                             role="img"
                             src="data:image/jpeg;base64,@Convert.ToBase64String(c.UrlImagen)"
                             alt="Imagen" />
                    }
                </ul>
            </div>
        </tr>
        <h4>Etiquetas</h4>
        <div>
            <ul>
                @foreach (var c in Model.IdEtiqueta)
                {
                    <li>@c.NombreEtiqueta</li>
                }
            </ul>
        </div>
        <h4>Reseñas</h4>
        <div>
            <td>
                @foreach (var c in Model.Resenas)
                {
                    <h1>Usuario</h1>
                    <li>@c.IdUsuarioNavigation.NombreUsuario</li>
                    <h1>Comentario</h1>
                    <li>@c.Comentario</li>
                    <h1>Fecha</h1>
                    <li>@c.Fecha</li>
                    <h1>Valoracion</h1>
                    <li>@c.Valoracion</li>
                }
            </td>
        </div>

        <a asp-action="Index" class="btn btn-info">
            <i class="bi bi-arrow-return-left"></i>
            Regresar al listado
        </a>
    </tbody>
</table>
